body {
	font-family: "Segoe UI", sans-serif;
}
.top-menu-links .links li a, .btn-normal, .site-footer .links li a {
	font-family: "Segoe UI", sans-serif;
	font-size: 14px;
}
.main-menu ul li a, .clock .clock-wrapper .tile .txt, .scrolldown a {
	font-family: "Segoe UI", sans-serif;
	font-size: 12px;
}
.section .content .c-columns .c-title h2, .section .content .title-desc h2 {
	font-family: "Segoe UI", sans-serif;
	font-size: 30px;
}
.section-home .content .title-desc .title h2 {
	font-size: 39px;
}
.section .content .title-desc h1, .section .content .title-desc h2, .section .content .title-desc h3, .section .content .title-desc h4 {
	margin-top: 0.25em;
}
.section .cta-btns .btn, .btn-normal {
	border-radius: 5px;
}
.section-slider .content .slider-wrapper .items-slides .swiper-slide .slideitem-wrapper .item-desc h3 {
	font-family: "Segoe UI", sans-serif;
	font-size: 25px;
}
.header-top .logo-wrapper .logo img {
	height: 60px;
}
.section .content .c-item-list li .item-desc h3 {
	font-family: "Segoe UI", sans-serif;
	text-shadow: 0 0 8px rgba(0,0,0,0.25);
}
.section .content .c-item-list li .item-desc h4 {
	font-family: "Segoe UI", sans-serif;
	text-shadow: 0 0 8px rgba(0,0,0,0.25);
	font-size: 16px;
}
.section .content .c-columns .c-aside .c-wrapper h3 {
	font-family: "Segoe UI", sans-serif;
}
.section-slider.active .anim .items-slides .swiper-slide.swiper-slide-active .slideitem-wrapper .item-img {
	top: 24px;
    bottom: 24px;
}
.section-slider .content .slider-wrapper .items-slides .swiper-slide .slideitem-wrapper .item-img:after {
	top: 19px;
	right: 0px;
    bottom: 19px;
}
.site-footer .note .marked.no-background, .site-footer .note a.no-background {
	background: none;
	color: #fff;
	font-family: "Bebas Neue", sans-serif;
	font-weight: normal;
}
.section-contact .content .item-desc a.no-background {
	background: none;
	color: #fff;
	font-weight: normal;
}
.top-menu-links .links {
	padding-top: 16px;
}
.header-top.scrolled .logo-wrapper, .header-top .logo-wrapper {
	padding-top: 10px;
}
p {
	font-size: 15px;
}
.section .content .title-desc h3 {
	font-size: 2.5rem;
}
/* Services Detail */
.section.item-website-design-development {
  background: url("../img/website-design-development-01.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }
  .section.item-website-design-development .section-bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(46, 55, 99, 0.5); }