<main class="page-main fullpg pagedetail" id="pagedetail">
    <!-- Begin of home section -->
    <div class="section section-home fp-auto-height-responsive item-home" data-section="home">
        <div class="section-bg"></div>
        <div class="content">
            <!-- Begin of Content -->
            <div class="content-centered c-columns anim">
                <div class="wrapper">
                    <!-- Title and description -->
                    <div class="title-desc">
                        <div class="t-wrapper">
                            <!-- Title -->
                            <header class="title">
                                <h2 class="high"><strong>DỊCH VỤ</strong></h2><br>
                                <h3>THIẾT KẾ WEBSITE</h3>
                            </header>
                        </div>
                    </div>
                </div>
                <!-- Arrows scroll down/up -->
                <footer class="s-footer scrolldown">
                    <a class="down btn">
                        <span class="icon"></span>
                        <span class="txt">XEM TIẾP</span>
                    </a>
                </footer>
            </div>
            <!-- End of Content -->
        </div>
    </div>
    <!-- End of home section -->
    <!-- Begin of about us section -->
    <div class="section section-about section-cent fp-auto-height-responsive bg-white" data-section="about-us">
        <section class="content clearfix">
            <!-- Begin of Content -->
            <div class="content-centered c-columns fit">
                <div class="wrapper anim">
                    <div class="c-title pos-static">
                        <h2>LÝ DO</h2>
                    </div>
                    <!-- title and description -->
                    <div class="title-desc">
                        <h2 class="border">Cần Phải Có Website</h2>
                        <p>Với sức mạnh của công nghệ thông tin và mạng Internet, chúng ta dể dàng những tác động to lớn của thời đại công nghệ thông tin tác động mạnh mẽ tới con người.</p>
                        <p>Do đó, việc con người tiếp cận thông tin sẽ thông qua môi trường mạng xã hội, webite hay các mạng tìm kiếm. </p>
                    </div>
                </div>
            </div>
            <!-- End of Content -->
        </section>
    </div>
    <!-- End of about us section -->
    <!-- Begin of about us section -->
    <div class="section section-about section-cent fp-auto-height-responsive" data-section="about-us">
        <div class="section-bg bg-img" data-image-src="/hksoft/img/bg-default6.jpg"></div>
        <section class="content clearfix">
            <!-- Begin of Content -->
            <div class="content-centered c-columns fit">
                <div class="wrapper anim">
                    <div class="c-title pos-static">
                        <h2>The reason</h2>
                    </div>
                    <!-- title and description -->
                    <div class="title-desc">
                        <h2 class="border">Modern Layout</h2>
                        <p>Do not spend your valuable time building website from scratch. Instead, use this template as the framework of your next beautiful website.</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem.</p>
                    </div>
                    <!-- Action button -->
                    <div class="cta-btns">
                        <a class="btn btn-normal" href="#link">
              <span class="txt">Button</span>
              <span class="arrow-icon"></span>
            </a>
                    </div>
                </div>
            </div>
            <!-- End of Content -->
        </section>
    </div>
    <!-- End of about us section -->
    <!-- Begin of a description section -->
    <div class="section section-about section-cent fp-auto-height-responsive" data-section="desc-image">
        <section class="content clearfix">
            <!-- Begin of Content -->
            <div class="content-centered c-columns fit">
                <div class="wrapper anim">
                    <div class="desc-img desc-centered">
                        <img alt="a feature" src="/hksoft/img/img-sample7.jpg">
                        <div class="w-text">
                            <!-- title and description -->
                            <div class="title-desc">
                                <h2 class="border">Elegant</h2>
                                <p>Do not spend your valuable time building website from scratch. Instead, use this template as the framework of your next beautiful website.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem.</p>
                            </div>
                            <!-- Action button -->
                            <div class="cta-btns">
                                <a class="btn btn-normal" href="#link">
                  <span class="txt">Button</span>
                  <span class="arrow-icon"></span>
                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Content -->
        </section>
    </div>
    <!-- End of a description section -->
    <!-- Begin of about us section -->
    <div class="section section-about section-cent fp-auto-height-responsive" data-section="desc-image-right">
        <section class="content clearfix">
            <!-- Begin of Content -->
            <div class="content-centered c-columns fit">
                <div class="wrapper fullsize anim">
                    <div class="desc-img desc-left white-bg">
                        <div class="w-text">
                            <!-- title and description -->
                            <div class="title-desc">
                                <h2 class="border">Business</h2>
                                <p>Do not spend your valuable time building website from scratch. Instead, use this template as the framework of your next beautiful website.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem.</p>
                            </div>
                            <!-- Action button -->
                            <div class="cta-btns">
                                <a class="btn btn-normal" href="#link">
                                    <span class="txt">Button</span>
                                    <span class="arrow-icon"></span>
                                </a>
                            </div>
                        </div>
                        <div class="w-img">
                            <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample5.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Content -->
        </section>
    </div>
    <!-- End of about us section -->
    <!-- Begin of service detail section -->
    <%= render "erp/hksoft/frontend/modules/home/service_detail" %>
    <!-- End of service detail section -->
</main>