<footer id="site-footer" class="site-footer">
  <!-- Notes -->
  <div class="note">
    <p>Copyright &copy; 2017 <a href=""><span class="marked">HK-Soft</span></a> info@hksoft.vn - (028) 2212 9454</p>
  </div>

  <!-- Begin of top menu -->
  <nav class="bottom-menu-links">
    <ul class="links">
      <li><a href="#facebook">FACEBOOK</a></li>
      <li><a href="#twitter">GOOGLE+</a></li>
      <li><a href="#lien-he">LIÊN HỆ</a></li>
    </ul>
  </nav>
  <!-- End of top menu -->
</footer>