<div class="section small-bg-color fp-auto-height-responsive" data-section="gioi-thieu">
    <section class="content clearfix">
        <!-- Begin of Content -->
        <div class="content-centered c-columns">
            <div class="wrapper anim">
                <!-- title and description -->
                <div class="title-desc">
                    <h2 class="border">GIỚI THIỆU</h2>
                    <p>Do not spend your valuable time building website from scratch. Instead, use this template as the framework of your next beautiful website.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem.</p>
                </div>
                <!-- Action button -->
                <div class="cta-btns">
                    <a class="btn btn-normal" href="#dich-vu">
                      <span class="txt">DỊCH VỤ</span>
                      <span class="arrow-icon"></span>
                    </a>
                </div>
            </div>
            <!-- Arrows scroll down/up -->
            <footer class="s-footer scrolldown">
                <a class="down btn">
                  <span class="icon"></span>
                  <span class="txt">XEM TIẾP</span>
                </a>
            </footer>
        </div>
        <!-- End of Content -->
    </section>
</div>