<div class="section small-bg-color fp-auto-height-responsive" data-section="gioi-thieu">
    <section class="content clearfix">
        <!-- Begin of Content -->
        <div class="content-centered c-columns">
            <div class="wrapper anim">
                <!-- title and description -->
                <div class="title-desc">
                    <h2 class="border">GIỚI THIỆU</h2>                    
                    <p>
                        <strong>HKSoft</strong> là tên gọi mới của phòng phần mềm thuộc <strong>Công Ty TNHH Giải Pháp CNTT Và TT Hoàng Khang</strong>.                                        
                    </p>
                    <p>
                        Được thành lập vào 11/2008 ban đầu chúng tôi tập chung thiết kế website, phát triển phần mềm, thiết kế đồ họa cho công ty là chính.
                        Sau 1 năm phát triển, hoàn thiện những sản phẩm phần mềm cho công ty. Với những kinh nghiệm đạt được chúng tôi đẩy mạnh phục vụ cho khách hàng cá nhân và doanh nghiệp.                        
                    </p>
                    <p>
                        Khoảng thời gian làm việc chúng tôi từng bước hoàn thiện kỹ năng chuyên môn, đội ngũ kỹ sư. Vào năm 2017 chúng tôi chính thức lấy tên HKSoft để định hướng thương hiệu mình trên thị trường.
                    </p>
                    <p>
                        Với định hướng khẳng định thương hiệu dựa trên sự hài lòng của khách hàng và mỗi khách hàng là mỗi khác biệt. Chúng tôi tồn tại và phát triển dựa trên uy tín mà khách hàng tín nhiệm. 
                    </p>
                </div>
                <!-- Action button -->
                <div class="cta-btns">
                    <a class="btn btn-normal" href="#tong-quan">
                      <span class="txt">TỔNG QUAN DỊCH VỤ</span>
                      <span class="arrow-icon"></span>
                    </a>
                </div>
            </div>
            <!-- Arrows scroll down/up -->
            <footer class="s-footer scrolldown">
                <a class="down btn">
                  <span class="icon"></span>
                  <span class="txt">XEM TIẾP</span>
                </a>
            </footer>
        </div>
        <!-- End of Content -->
    </section>
</div>