<div class="section section-home fp-auto-height-responsive" data-section="trang-chu">
    <div class="content">
        <!-- Begin of Content -->
        <div class="content-left c-columns anim">
            <div class="wrapper">
                <!-- Title and description -->
                <div class="title-desc">
                    <div class="t-wrapper">
                        <!-- Title -->
                        <header class="title">
                            <h2>
                                <strong>DỊCH VỤ GIẢI PHÁP PHẦN MỀM</strong>
                            </h2>
                            <h3>TỔNG QUAN DỊCH VỤ</h3>
                        </header>
                        <!-- desc -->
                        <div class="desc border">
                            <p>
                                Thiết kế, quản trị website.<br>
                                Phát triển web ứng dụng quản lý.<br>
                                Dịch vụ đăng ký, quản trị domain, hosting.<br>
                                Dịch vụ SEO, quảng cáo Google, Facebook.<br>
                                Thiết kế logo, profile doanh nghiệp.<br>
                                Dịch vụ đăng ký Google Mail, Email Marketing.<br>
                            </p>
                            <!-- Action button -->
                            <div class="cta-btns">
                                <a class="btn btn-normal" href="#dich-vu">
                                  <span class="txt">XEM DỊCH VỤ</span>
                                  <span class="arrow-icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-aside">
                <div class="centered">
                    <!-- BEGIN OF clock container -->
                    <div class="clock-container">
                        <!-- Coutdown Clock -->
                        <div class="clock clock-countdown">
                            <div class="site-config" data-date="01/01/2018 00:00:00" data-date-timezone="+0"></div>
                            <div class="clock-wrapper">
                                <div class="clock-hms clearfix">
                                    <div class="tile tile-days">
                                        <span class="days digit">00</span>
                                        <span class="txt">Ngày</span>
                                    </div>
                                    <div class="secondary">
                                        <div class="tile tile-hours">
                                            <span class="hours digit">00</span>
                                            <span class="txt">Giờ</span>
                                        </div>
                                        <div class="tile tile-minutes">
                                            <span class="minutes digit">00</span>
                                            <span class="txt">Phút</span>
                                        </div>
                                        <div class="tile tile-seconds">
                                            <span class="seconds digit">00</span>
                                            <span class="txt">Giây</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clock-title">
                                    <h5>Logo & Nội dung chính thức sẽ sớm ra mắt vào ngày<br>
                                        <strong>01-01-2018</strong>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF clock container -->
                </div>
                <div class="bottom">
                    <!-- Action button -->
                    <div class="cta-btns">
                        <a class="btn btn-normal" href="#gioi-thieu">
                          <span class="txt">GIỚI THIỆU</span>
                          <span class="arrow-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Arrows scroll down/up -->
            <footer class="s-footer scrolldown">
                <a class="down btn">
                  <span class="icon"></span>
                  <span class="txt">XEM TIẾP</span>
                </a>
            </footer>
        </div>
        <!-- End of Content -->
    </div>
</div>