<div class="section section-contact fp-auto-height-responsive hide-clock" data-section="lien-he">
    <!-- begin of information slide -->
    <div class="slide" id="thong-tin" data-anchor="thong-tin">
        <section class="content clearfix">
            <!-- Begin of Content -->
            <div class="content-contact c-columns">
                <div class="row wrapper">
                    <div class="columns small-12 medium-12 large-12">
                        <div class="col-wrapper anim">
                            <!-- title -->
                            <header class="title-desc">
                                <h2 class="page-title">LIÊN HỆ</h2>
                                <p>Thông tin liên hệ với chúng tôi.</p>
                            </header>
                            <!-- Begin of contact list -->
                            <ul class="contact-list c-features row small-up-1 medium-up-2 large-up-2">
                                <!-- item -->
                                <li class="column anim">
                                    <div class="item-desc">
                                        <h3 class="title">ĐỊA CHỈ</h3>
                                        <div class="desc">
                                            <p>
                                                <strong>HOANG KHANG INCOTECH CO., LTD;</strong>
                                                <br>188 Đường Số 1 , Phường 16
                                                <br>Quận Gò Vấp, TP. Hồ Chí Minh, Việt Nam                                                
                                            </p>
                                        </div>
                                        <div class="desc row">
                                            <p>2017 &copy; All Rights Reserved. HK-Soft</p>
                                        </div>
                                    </div>
                                </li>
                                <!-- item -->
                                <li class="column anim">
                                    <div class="item-desc">
                                        <h3 class="title">THÔNG TIN</h3>
                                        <div class="desc">
                                            <p>
                                                <strong>Số điện thoại:</strong><%= link_to "(028) 2212 9454", "tel:02822129454", title: "(028) 2212 9454", class: "no-background" %><br>
                                                <strong>Email:</strong><%= mail_to "info@hksoft.vn", "info@hksoft.vn", title: "", class: "no-background" %><br>
                                                <strong>Skype:</strong><%= link_to "nguyenngocson0811@gmail.com", "skype:nguyenngocson0811@gmail.com?chat", title: "", class: "no-background" %><br>
                                                <strong>Giờ làm việc: </strong>Thứ 2 ~ 6 (8h00 ~ 17h00)<br>
                                                Thứ 7, Chủ nhật, Ngày lễ: Không làm việc
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- End of contact list -->
                            <!-- Action button -->
                            <div class="cta-btns">
                                <a class="btn btn-normal" href="#lien-he/loi-nhan">
                                    <span class="txt">GỬI LỜI NHẮN</span>
                                    <span class="arrow-icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Content -->
        </section>
    </div>
    <!-- end of information slide -->
    <!-- begin of message slide -->
    <div class="slide" id="loi-nhan" data-anchor="loi-nhan">
        <section class="content clearfix">
            <!-- Begin of Content -->
            <div class="content-contact c-columns">
                <div class="row wrapper">
                    <div class="columns small-12 medium-12 large-12">
                        <div class="centered">
                            <div class="title-desc">
                                <h2 class="page-title">LỜI NHẮN CHO HK-Soft</h2>
                                <p>Gửi nội dung cần liên hệ với chúng tôi.</p>
                            </div>
                            <div class="c-form">
                                <!-- begin of contact form content -->
                                <div class="c-content card-wrapper">
                                    <form class="message form send_message_form" method="post" action="ajaxserver/serverfile.php" id="message_form">
                                        <div class="fields clearfix">
                                            <div class="input name">
                                                <label for="mes-name">Họ tên:</label>
                                                <input id="mes-name" name="name" type="text" placeholder="Nhập họ & tên tại đây....." class="form-success-clean" required>
                                            </div>
                                        </div>
                                        <div class="fields clearfix">
                                            <div class="input last">
                                                <label for="mes-email">Email:</label>
                                                <input id="mes-email" type="email" placeholder="Nhập địa chỉ email tại đây....." name="email" class="form-success-clean" required>
                                            </div>
                                        </div>
                                        <div class="fields clearfix no-border">
                                            <label for="mes-text">Lời nhắn</label>
                                            <textarea id="mes-text" placeholder="Nhập nội dung lời nhắn tại đây....." name="message" class="form-success-clean" required></textarea>
                                            <div>
                                                <p class="message-ok invisible form-text-feedback form-success-visible">Lời nhắn của bạn đã được gửi thành công. Chúng tôi sẽ sớm liên hệ lại!</p>
                                            </div>
                                        </div>
                                        <div class="btns">
                                            <button id="submit-message" class="btn btn-normal email_b" name="submit_message">
                                                <span class="txt">GỬI LỜI NHẮN</span>
                                                <span class="arrow-icon"></span>
                                            </button>
                                            <a class="btn btn-normal" href="#lien-he/thong-tin">
                                                <span class="txt">THÔNG TIN LIÊN HỆ</span>
                                                <span class="arrow-icon"></span>
                                            </a>
                                        </div>
                                    </form>
                                    <!-- Action button -->
                                    <div class="cta-btns">
                                    </div>
                                </div>
                                <!-- end of contact form content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of content -->
        </section>
    </div>
    <!-- end of message slide -->
</div>