<div class="section section-register section-cent fp-auto-height-responsive" data-section="dang-ky">
    <section class="content clearfix">
        <div class="content-centered c-columns">
            <div class="wrapper anim">
                <!-- title and description -->
                <div class="title-desc">
                    <h2>ĐĂNG KÝ NHẬN TIN</h2>
                    <p>Subscribe to Newsletter : input your email address below and do not miss our latest news, our freshly new products and many surprising goodies. </p>
                </div>
                <!-- subscription form -->
                <div class="subscription">
                    <!-- Begin Ajax subscription form  subscription-form -->
                    <form id="subscription-form" class="form send_email_form zoom-out" method="post" action="ajaxserver/serverfile.php">
                        <p class="feedback gone form-success-visible">Thank you for your subscription. We will inform you.</p>
                        <input id="reg-email" class="input form-success-invisible" name="email" type="email" required placeholder="Nhập email đăng ký tại đây....." data-validation-type="email">
                        <button id="submit-email" class="btn circ-btn form-success-invisible" name="submit_email">
                            <span class="ion-checkmark"></span>
                        </button>
                    </form>
                    <!-- End of Ajax subscription form  subscription-form -->
                </div>
            </div>
            <div class="c-aside">
                <div class="centered social-wrap">
                    <div class="c-wrapper">
                        <!-- social networks -->
                        <h3>MẠNG XÃ HỘI</h3>
                        <ul class="social-grid">
                            <li><a class="s-icon ion-social-facebook" href=""></a></li>
                            <li><a class="s-icon ion-social-googleplus" href=""></a></li>
                            <li><a class="s-icon ion-social-youtube" href=""></a></li>
                            <li><a class="s-icon ion-social-instagram" href=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Arrows scroll down/up -->
            <footer class="s-footer scrolldown">
                <a class="down btn">
                    <span class="icon"></span>
                    <span class="txt">XEM TIẾP</span>
                </a>
            </footer>
        </div>
    </section>
</div>