<div class="section section-slider fp-auto-height-responsive" data-section="du-an">
    <section class="content clearfix">
        <div class="c-columns">
            <div class="c-title">
                <h2>DỰ ÁN TIÊU BIỂU</h2>
            </div>
            <div class="wrapper with-slider clip-overflow">
                <!-- Begin of works/services/products -->
                <div class="slider-wrapper anim">
                    <!-- slider -->
                    <div class="items-slides swiper-container">
                        <ul class="slide-item-list swiper-wrapper">
                            <!-- item -->
                            <li class="item swiper-slide">
                                <a class="slideitem-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample4-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">PHẦN MỀM QUẢN LÝ</h3>
                                        <h4>Quản Lý Trung Tâm Đào Tạo Kế Toán</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="item swiper-slide">
                                <a class="slideitem-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample1-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">PHẦN MỀM QUẢN LÝ</h3>
                                        <h4>Quản Lý Bán Hàng - ERP</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="item swiper-slide">
                                <a class="slideitem-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample2-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">THIẾT KẾ WEB</h3>
                                        <h4>Website Bán Hàng WWW.TIMHANGCONGNGHE.COM</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="item swiper-slide">
                                <a class="slideitem-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample3-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">THIẾT KẾ WEB</h3>
                                        <h4>Website Du Lịch WWW.NEWDISCOVERY.VN</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="item swiper-slide">
                                <a class="slideitem-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample4-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">Flower</h3>
                                        <h4>Photo / Instagram</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="item swiper-slide">
                                <a class="slideitem-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample5-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">Sunset</h3>
                                        <h4>Photo / Instagram</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="item swiper-slide">
                                <a class="slideitem-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/items/img-sample6-small.jpg"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">Ocean</h3>
                                        <h4>Music / Beats</h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- pagination -->
                    <div class="items-pagination"></div>

                    <!-- navigation -->
                    <div class="items-button items-button-prev">
                        <a class="normal-btn inv-btn">
                            <span class="icon ion-chevron-left"></span>
                        </a>
                    </div>
                    <div class="items-button items-button-next">
                        <a class="normal-btn">
                            <span class="icon ion-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <!-- End of works/services/products -->
            </div>
            <!-- Arrows scroll down/up -->
            <footer class="s-footer scrolldown">
                <a class="down btn">
                    <span class="icon"></span>
                    <span class="txt">XEM TIẾP</span>
                </a>
            </footer>
        </div>
        <!-- end of left elements -->
    </section>
</div>