<div class="section small-bg-black fp-auto-height-responsive" data-section="dich-vu">
    <section class="content clearfix">
        <!-- Begin of Content -->
        <div class="content-centered c-columns">
            <div class="wrapper anim">
                <!-- title -->
                <header class="title-desc">
                    <h2 class="border">DỊCH VỤ</h2>
                    <p>HK-Soft cung cấp cho khách hàng nhiều dịch vụ, giải pháp phần mềm. Với nhiều năm kinh nghiệm chúng tôi sẽ mang đến nhiều sự lựa chọn tốt nhất cho khách hàng của mình.</p>
                </header>
                <!-- Begin of features/services/offers -->
                <ul class="item-list row small-up-1 medium-up-2 large-up-4">
                    <!-- item -->
                    <li class="column anim">
                        <div class="item-desc">
                            <div class="illustr">
                                <img alt="a feature" src="/hksoft/img/img-services-icon-01.png">
                            </div>
                            <h3>Thiết Kế Website</h3>
                            <div class="desc">
                                <p>Thiết kế, xây dựng hệ thống website cho cá nhân, công ty, tổ chức. Website bán hàng, thương mại điện tử, du lịch và nhiều ngành nghề, lĩnh vực khác.</p>
                            </div>
                        </div>
                    </li>
                    <!-- item -->
                    <li class="column anim">
                        <div class="item-desc">
                            <div class="illustr">
                                <img alt="a feature" src="/hksoft/img/img-services-icon-02.png">
                            </div>
                            <h3>Web Ứng Dụng Quản Lý</h3>
                            <div class="desc">
                                <p>Phân tích, xây dựng ứng dụng quản lý trên nền web. Giúp doanh nghiệp quản lý dữ liệu một cách chính xác, tiết kiệm nhân sự, thời gian.</p>
                            </div>
                        </div>
                    </li>
                    <!-- item -->
                    <li class="column anim">
                        <div class="item-desc">
                            <div class="illustr">
                                <img alt="a feature" src="/hksoft/img/img-services-icon-03.png">
                            </div>
                            <h3>Domain Hosting</h3>
                            <div class="desc">
                                <p>Dịch vụ đăng ký domain, hosting cho cá nhân, công ty, tổ chức. Dịch vụ quản trị domain, hosting cho website.</p>
                            </div>
                        </div>
                    </li>
                    <!-- item -->
                    <li class="column anim">
                        <div class="illustr">
                            <img alt="a feature" src="/hksoft/img/img-services-icon-04.png">
                        </div>
                        <div class="item-desc">
                            <h3>Online Marketing</h3>
                            <div class="desc">
                                <p>Dịch vụ SEO, quảng cáo Google Adwords, Facebook Adwords,... Thiết kế logo, banner quảng cáo, bộ nhận diện thương hiệu cho doanh nghiệp.</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- End of features/services/offers -->
            </div>
            <!-- Arrows scroll down/up -->
            <footer class="s-footer scrolldown">
                <a class="down btn">
                  <span class="icon"></span>
                  <span class="txt">XEM TIẾP</span>
                </a>
            </footer>
        </div>
        <!-- End of Content -->
    </section>
</div>