<div class="section section-projects fp-auto-height-responsive" data-section="dich-vu">
    <section class="content clearfix">
        <div class="content-centered c-columns">
            <div class="c-title">
                <h2>DỊCH VỤ</h2>
            </div>
            <div class="wrapper clip-overflow anim">
                <!-- Begin of works/services/products -->
                <div class="gallery-wrapper">
                    <div class="items-tile">
                        <ul class="c-item-list row small-up-1 medium-up-2 large-up-3">
                            <!-- item -->
                            <li class="column">
                                <a class="tile-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/dich-vu-thiet-ke-quan-tri-website.png"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">DỊCH VỤ</h3>
                                        <h4>THIẾT KẾ - QUẢN TRỊ WEBSITE</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="column">
                                <a class="tile-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/dich-vu-web-ung-dung-quan-ly.png"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">DỊCH VỤ</h3>
                                        <h4>PHÁT TRIỂN WEB ỨNG DỤNG QUẢN LÝ</h4>
                                    </div>
                                </a>
                            </li>                            
                            <!-- item -->
                            <li class="column">
                                <a class="tile-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/domain-hosting.png"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">DỊCH VỤ</h3>
                                        <h4>DOMAIN - HOSTING</h4>
                                    </div>
                                </a>
                            </li>                            
                            <!-- item -->
                            <li class="column">
                                <a class="tile-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/dich-vu-seo-quang-cao.png"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">DỊCH VỤ</h3>
                                        <h4>SEO - QUẢNG CÁO TRỰC TUYẾN</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="column">
                                <a class="tile-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/dich-vu-thiet-ke-logo-profile.png"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">DỊCH VỤ</h3>
                                        <h4>THIẾT KẾ LOGO - PROFILE</h4>
                                    </div>
                                </a>
                            </li>
                            <!-- item -->
                            <li class="column">
                                <a class="tile-wrapper" href="javascript:void(0)">
                                    <div class="item-img">
                                        <div class="img bg-img" data-image-src="/hksoft/img/dich-vu-google-mail-email-marketing.png"></div>
                                    </div>
                                    <div class="item-desc">
                                        <h3 class="title">DỊCH VỤ</h3>
                                        <h4>GOOGLE MAIL - EMAIL MARKETING</h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of works/services/products -->
            </div>
        </div>
        <!-- end of left elements -->
    </section>
</div>